# Rojo / Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
.tools/
*.rbxl.lock
*.rbxlx.lock

# Ferramentas
/sourcemap.json
/.rojo

# Wally (dependências baixadas)
/Packages
/ServerPackages
/DevPackages
wally.lock

# Editor / SO
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
